<template>
  <section class="columns">
    <div class="column  is-half">
      <div class="control">
        <b-taglist attached>
          <b-tag type="is-dark">Status</b-tag>
          <b-tag type="is-primary">{{ item.status }}</b-tag>
        </b-taglist>
      </div>
      <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header"
          role="button"
          aria-controls="contentIdForA11y3"
        >
          <p class="card-header-title">
            Payment
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            Payment Request ID : {{ item.payment_id }} <br />
            Payment Date : {{ item.date }} <br />
            Charge ID :<br />
            Credit Card Detail :<br />
            Payment Amount (etc.) :
          </div>
        </div>
      </b-collapse>
      <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header"
          role="button"
          aria-controls="contentIdForA11y3"
        >
          <p class="card-header-title">
            Application
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
        <div class="card-content">
          <b-button size="is-small" type="is-success" icon-left="email-sync">Resend Application</b-button>
          <b-button size="is-small" type="is-info" icon-left="close-circle" @click="cancelPolicy" v-show="status=Completed"
            >Cancel Application</b-button
          >
          <div class="content">Application No: {{ item.application_id }}</div>
        </div>
      </b-collapse>
      <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header"
          role="button"
          aria-controls="contentIdForA11y3"
        >
          <p class="card-header-title">
            Policy Information
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            Policy No: {{ item.policy_id }} <br />
            Package: <br />
            Sub Package: <br />
          </div>
        </div>
      </b-collapse>
      <b-button type="is-text" tag="router-link" to="/search">Back</b-button>
    </div>
    <div class="column  is-half">
      <b-tabs>
        <b-tab-item label="บัตรประชาชน">
          <template>
            <div>
              <iframe
                class="iframe-big"
                src="http://africau.edu/images/default/sample.pdf"
              ></iframe>
            </div>
          </template>
        </b-tab-item>

        <b-tab-item label="ใบขับขี่">
          <template>
            <div>
              <iframe
                class="iframe-big"
                src="http://africau.edu/images/default/sample.pdf"
              ></iframe>
            </div>
          </template>
        </b-tab-item>

        <b-tab-item label="ทะเบียนรถ">
          <template>
            <div>
              <iframe
                class="iframe-big"
                src="http://africau.edu/images/default/sample.pdf"
              ></iframe>
            </div>
          </template>
        </b-tab-item>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import pdf from "vue-pdf";

export default {
  components: {
    pdf
  },
  data() {
    return {
      item: {}
    };
  },
  methods: {
    cancelPolicy() {
      alert("cancel!!!");
       this.$store.commit('ADD_ITEM', { item: 'Cancel'})
    },
    showCancel() {
      item.status = ''
    },
   
  },
  //created() {
  //  console.log("$route", this.$route);
  //  let paymentId = this.$route.query.paymentId;
  //  console.log("$route.query.paymentId", this.$route.query.paymentId);
  //  console.log("tnx", this.$store.state.mstData.transactionFind[paymentId] );
  //},
  mounted() {
    console.log(this.$route.query.id);
    let paymentId = this.$route.query.paymentId;
    this.item = this.$store.state.mstData.transactionFind[paymentId];
  },
};
</script>

<style scoped>
.iframe-big {
  width: 100%;
  height: 66vh;
}
</style>
